<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="host_smtp" value ="smtp.gmail.com" />
		<add key ="port_smtp" value ="587" />
		<add key ="host_imap" value ="imap.gmail.com" />
		<add key ="port_imap" value ="993" />
		<add key ="username" value ="" />
		<add key ="password" value ="" />
		<add key ="from" value ="" />
		<add key ="to" value ="" />
		<add key ="subject" value ="Email BOT" />
	</appSettings>
</configuration>